<div class="d-flex justify-content-center" *ngIf="!station">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container">
  <h1 *ngIf="station">{{ station.name || "Loading.."}}</h1>

  <h2>Stream change history</h2>
  <table class="table table-condensed table-hover table-dark">
    <thead>
      <th width="200">Change Time</th>
      <th>Changes</th>
    </thead>
    <tbody>
      <tr *ngFor="let change of list_changes">
        <td>{{change.lastchangetime_iso8601 | localdate }}</td>
        <td>
          <pre class="text-light">
Name:        {{change.name}}
Url:         {{change.url}}
Homepage:    {{change.homepage}}
Favicon:     {{change.favicon}}
Tags:        {{change.tags}}
Countrycode: {{change.countrycode}}
Country:     {{change.country}}
State:       {{change.state}}
Language:    {{change.language}}
GeoLat:      {{change.geo_lat}}
GeoLong:     {{change.geo_long}}
          </pre>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="location">Stream location</h2>
  <p>
    Shows where the stream is located.
  </p>
  <div *ngIf="!(!station)">
    <p class="p" *ngIf="!map_exact">
      The stream does not have exact coordinates. So the location information
      is not exact and only uses the countrycode "{{ station.countrycode }}" to
      show you the approximate location of the country.
      Country locations are provided by <a href="https://restcountries.eu/">restcountries.eu</a>.
    </p>
    <p class="p" *ngIf="map_exact">
      The stream does provide exact coordinates.
    </p>
  </div>
  <div id="mapid_show"></div>

  <h2>Stream click history</h2>
  A list of clicks in the last 24 hours.
  <div class="chart">
    <canvas #chart_div></canvas>
  </div>

  <h2>Stream check history</h2>
  A list of checks and their results. Checks are done from different servers over time.<br />
  Streams do also send metadata which is displayed here and which may differ from the data in the radio-browser
  database.
  <table class="table table-condensed table-hover table-bordered bg-dark table-dark">
    <thead>
      <th width="200">Check time</th>
      <th>Check-Server</th>
      <th>Codec</th>
      <th>Bitrate</th>
      <th>Name</th>
      <th>Tags</th>
      <th>Homepage</th>
      <th>CountryCode</th>
      <th>Description</th>
      <th>OverrideMetaData</th>
    </thead>
    <tbody>
      <tr *ngFor="let check of list_checks" [ngClass]="{'bg-danger': check.ok === 0}">
        <td>{{check.timestamp_iso8601 | localdate }}</td>
        <td>{{check.source}}</td>
        <td>{{check.codec}}</td>
        <td>{{check.bitrate}}</td>
        <td>{{check.name}}</td>
        <td>{{check.tags}}</td>
        <td>{{check.homepage}}</td>
        <td>{{check.countrycode}}</td>
        <td>{{check.description}}</td>
        <td>
          <span *ngIf="check.metainfo_overrides_database===1">&#x2713;</span>
          <span *ngIf="check.metainfo_overrides_database!==1">&#x2717;</span>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Stream check steps</h2>
  <p class="p">
    A list of all steps that were done to check if the link is a real functioning streaming link.
  </p>
  <div *ngIf="!list_check_steps">Loading..</div>
  <div *ngIf="list_check_steps">
    <table class="table table-condensed table-dark">
      <thead>
        <tr>
          <th width="200">Servername</th>
          <th>Check steps</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let server of list_check_steps">
          <td>{{server.servername}}</td>
          <td>
            <table ng-show="server.result.length > 0" class="table table-condensed table-dark">
              <thead>
                <tr>
                  <th width="200">Check Time</th>
                  <th>Url</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of server.data">
                  <td>{{step.creation_iso8601 | localdate }}</td>
                  <td>{{step.url}}</td>
                  <td *ngIf="step.urltype">{{step.urltype}}</td>
                  <td *ngIf="!step.urltype" [ngClass]="{'bg-danger': step.error}">{{step.error}}</td>
                </tr>
              </tbody>
            </table>
            <span *ngIf="server.data.length === 0">Checking..</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 id="check_steps">.</h2>
</div>
