<table class="table table-dark table-striped d-none d-xl-block table-hover">
  <thead>
    <th>Name</th>
    <th>Stream Info</th>
    <th class="d-none d-xl-table-cell">Last Online Check</th>
    <th class="d-none d-xl-table-cell">Last Contact</th>
    <th class="d-none d-xl-table-cell">Last Change</th>
    <th width="200"></th>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let station of stations" [routerLink]="['/history', station.stationuuid]">
      <td><img [hidden]="!station.favicon" [src]="station.favicon" height="20px" width="20px"
          class="icon" />{{station.name}}</td>
      <td>
        <a class="btn btn-xs btn-success m-1" [hidden]="!station.has_extended_info" data-toggle="tooltip" data-placement="top" title="Stream provider verified stream information (via header)">Verified</a>
        <a class="btn btn-xs btn-info m-1" [hidden]="!station.codec">{{station.codec}}</a>
        <span class="btn btn-xs btn-info m-1" [hidden]="station.bitrate === 0">{{station.bitrate}} kbps</span>
        <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank" class="btn btn-xs btn-info"
          [hidden]="station.hls===0">HLS</a>
        <span class="btn btn-xs btn-danger m-1" [hidden]="station.lastcheckok!==0">BROKEN</span>
        <span class="btn btn-xs btn-warning m-1" [hidden]="station.lastchecktime_iso8601">CHECKING..</span>
        <span class="btn btn-xs btn-success m-1" [hidden]="(!station.geo_lat)">GEO</span>
        <span class="btn btn-xs btn-info m-1">Votes: {{ station.votes }}</span>
        <span class="btn btn-xs btn-info m-1">Clicks: {{ station.clickcount }}</span>
        <a class="btn btn-xs btn-info m-1" *ngFor="let value of station.tags_arr">{{value}}</a>
        <a class="btn btn-xs btn-info m-1" [hidden]="!station.country">{{station.country}}</a>
        <span [hidden]="!station.state">
          <a class="btn btn-xs btn-info m-1" [hidden]="!station.state">{{station.state}}</a>
        </span>
        <a class="btn btn-xs btn-info m-1" [hidden]="!station.language">{{station.language}}</a>
      </td>
      <td class="d-none d-xl-table-cell">{{station.lastchecktime_iso8601 | localdate }}</td>
      <td class="d-none d-xl-table-cell">{{station.lastcheckoktime_iso8601 | localdate }}</td>
      <td class="d-none d-xl-table-cell">{{station.lastchangetime_iso8601 | localdate }}</td>
      <td>
        <button class="btn btn-info btn-xs m-1" (click)="play($event, station)">Play</button>
        <button class="btn btn-info btn-xs m-1" (click)="vote($event, station)">Vote</button>
        <a class="btn btn-info btn-xs m-1" [href]="station.url" [hidden]="station.hls===1">Save</a>
        <a class="btn btn-info btn-xs m-1" [href]="station.homepage" [hidden]="!station.homepage"
          target="_blank">Homepage</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="container d-block d-xl-none">
  <div class="row">
    <div class="col-md-6" *ngFor="let station of stations">
      <div class="card text-white bg-dark mb-3 clickable" [routerLink]="['/history', station.stationuuid]">
        <div class="card-header">
          <img [hidden]="!station.favicon" [src]="station.favicon" height="20px" width="20px" class="icon" />
          {{station.name}}
        </div>
        <div class="card-body">
          <a class="btn btn-xs btn-info m-1" [hidden]="!station.codec">{{station.codec}}</a>
          <span class="btn btn-xs btn-info m-1" [hidden]="station.bitrate === 0">{{station.bitrate}} kbps</span>
          <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank" class="btn btn-xs btn-info"
            [hidden]="station.hls===0">HLS</a>
          <span class="btn btn-xs btn-danger m-1" [hidden]="station.lastcheckok!==0">BROKEN</span>
          <span class="btn btn-xs btn-warning m-1" [hidden]="station.lastchecktime_iso8601">CHECKING..</span>
          <span class="btn btn-xs btn-success m-1" [hidden]="(!station.geo_lat)">GEO</span>
          <a class="btn btn-xs btn-info m-1" *ngFor="let value of station.tags_arr">{{value}}</a>
          <a class="btn btn-xs btn-info m-1" [hidden]="!station.country">{{station.country}}</a>
          <span [hidden]="!station.state">
            <a class="btn btn-xs btn-info m-1" [hidden]="!station.state">{{station.state}}</a>
          </span>
          <a class="btn btn-xs btn-info m-1" [hidden]="!station.language">{{station.language}}</a>
          <pre class="card-text"><code class="text-white">
Checked:   {{station.lastchecktime_iso8601 | localdate }}
Contacted: {{station.lastcheckoktime_iso8601 | localdate }}
Changed:   {{station.lastchangetime_iso8601 | localdate }}</code></pre>
        </div>
        <div class="card-footer">
          <button class="btn btn-info btn-xs m-1" (click)="play($event, station)">Play</button>
          <button class="btn btn-info btn-xs m-1" (click)="vote($event, station)">Vote</button>
          <a class="btn btn-info btn-xs m-1" [href]="station.url" [hidden]="station.hls===1">Save</a>
          <a class="btn btn-info btn-xs m-1" [href]="station.homepage" [hidden]="!station.homepage" target="_blank">Web</a>
        </div>
      </div>
    </div>
  </div>
</div>
