<div class="container mb-3">
  <div>
    <span class="searchoption" *ngFor="let option of displayOptions"><span class="name">
        {{ option.displayName }}
      </span><span class="operator">
        {{ option.operator }}
      </span><span class="value">
        {{ option.searchValue }}
      </span><span class="remove" aria-hidden="true"
        (click)="removeoption(option.key, option.searchValue)">&times;</span>
    </span>
  </div>
</div>
<app-linklist></app-linklist>
<div class="container">
  <app-stationlist [stations]="stations"></app-stationlist>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <button class="btn btn-xs btn-info mx-2" (click)="prevpage()">Prev page</button>
    <button class="btn btn-xs btn-info mx-2" (click)="nextpage()">Next page</button>
  </div>
  <br />
</div>
