<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">Other formats</h3>
        <div class="card-body">
          <p class="card-text">
            <a [href]="link_csv" class="btn btn-info m-1">CSV</a>
            <a [href]="link_xml" class="btn btn-info m-1">XML</a>
            <a [href]="link_json" class="btn btn-info m-1">JSON</a>
            <a [href]="link_m3u" class="btn btn-info m-1">M3U</a>
            <a [href]="link_pls" class="btn btn-info m-1">PLS</a>
            <a [href]="link_xspf" class="btn btn-info m-1">XSPF</a>
            <a [href]="link_ttl" class="btn btn-info m-1">TTL</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
